/* XL */
@media(max-width:1200px){

}

/* L */
@media(max-width:992px){

}

/* MD */

@media(max-width:768px){
    .dropdown-menu {
        display: none !important;
        visibility: hidden;
    }
}

/* SM */

@media(max-width:576px){
    .navbar .navbar-toggler{
        display: none;
    }
}